.page1 {
  height: 100vh !important;
  background-color: black !important;
  background: radial-gradient(
    65.6% 65.6% at 50% 52.81%,
    #6f13ca 0%,
    rgba(155, 32, 186, 0) 100%
  );
}
.img {
  position: absolute;
  top: 248px;
  right: 563px;
}
.name {
  display: flex;
  color: #ffff;
  justify-content: center;
  margin-top: 1em;
  flex-direction: column;
}
.upper {
  color: #977bb2;
  text-align: center;
  font-family: Candal;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px; /* 195.833% */
  letter-spacing: 2.4px;
}
.middle {
  color: #fff;
  font-family: Candal;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 4px;
}
.typeWr {
  color: #977bb2;
  font-family: Candal;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 3.2px;
}
