.nav-class{
  background: transparent !important;
}
.scroll-down{
  background: rgba(255, 255, 255, 0.806) !important;
  /* backdrop-filter: blur(4px) !important; */
  transition: 0.8s;
}
.side-nav{
  background-color: #450585 !important;
}
.nav-font{
  color: black !important;
}